* {
    text-align: center;
}

header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    display: inline-block;
}

.herbie {
  
    font-size: 1px
}

.dog {
    line-height: 200px;
    line-width: 200px;
    max-width: 15%;
box-shadow: 0 4px 8px;
margin: auto;
background-image: url(bostonterrier.webp);
background-size: cover;

}

.boston {
    margin:auto;
}

nav {
    box-shadow: 0 4px 8px;
    max-width: 5%;
    padding-inline: 20px;
    padding-left: 1px;
    padding-right: 23px;
    margin: auto;
   
}

.contact-info {
    padding: 10px;
    box-shadow: 0 4px 8px;
    max-width: 15%;
    margin: auto;
}

/* .button: hover {
 background-color;

} */

button:hover {
    background-color: #413797; 
    color: white;
  }

.dog:hover {
    background-image: url(./bostontilt);
    transform: 2
}

.about {
    color: rgb(7, 75, 7);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 18px;

}